ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

ul > li{
    margin: 5px 5px;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    background: #3f6801;
    color: white;
}

ul > li:hover{
    cursor: pointer;
    background: #497702;
    
}

.filter-container{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

input[type="text"]{
    padding: 5px;
    border-radius: 5px;
    width: 300px;
    border-width: 1px;
    margin-right: 10px;
}